//
//  common.xcconfig
//  Diffusion
//
//  Created by Pedro Cuenca on 202212.
//  See LICENSE at https://github.com/huggingface/swift-coreml-diffusers/LICENSE
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = Diffusers

// Update if you fork this repo
DEVELOPMENT_TEAM = 2EADP68M95
PRODUCT_BUNDLE_IDENTIFIER = com.huggingface.Diffusers
