<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
	    <key>NSPhotoLibraryAddUsageDescription</key>
    	<string>To be able to save generated images to your Photo Library, you’ll need to allow this.</string>
	    <key>CFBundleDisplayName</key>
    	<string>Diffusers</string>
	</dict>
</plist>
